.css-1oqqzyl-MuiContainer-root {
    max-width:100% !important; 
}
.btnSubmit{
    background-color:#404040 !important;
}

.btnApply{
    background-color: #f6f6f6 !important;
    margin: 0 !important;
    
}

.btnApply:hover{
    color: #404040 !important;
    
}